<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>MyPage</title>
</head>
<body class="bg-gray-200">
<header th:insert="fragments.html::nav"></header>
<div class="py-14 bg-gray-200 flex justify-center">
    <div class="w-full max-w-md">
        <form id="modifyForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
                <span id="infoTitle">회원 정보 수정</span>
            </h2>
            <div class="mb-4" style="margin-top: 1em">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">
                    Email(ID)
                </label>
                <input type="text" id="email" name="email" placeholder="이메일 주소 (ex: hello@mail.com)"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       required>
            </div>

            <div class="mb-6">
                <label for="nickname" class="block text-gray-700 text-sm font-bold mb-2">
                    Nickname
                </label>
                <input type="text" id="nickname" name="nickname" placeholder="Nickname"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       required>
            </div>

            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">
                    Password
                </label>
                <input type="password" id="password" name="password" placeholder="수정하려면 입력하세요."
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <div class="mb-6">
                <label for="phoneNumber" class="block text-gray-700 text-sm font-bold mb-2">
                    Phone Number
                </label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="010-0000-0000"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       required>
            </div>

            <input type="hidden" id="csrf">
            <div class="flex items-center justify-between">
                <button id="modify" type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Submit
                </button>
                <button id="cancel" type="button"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>